navbar .navbar {
  // background-color: gray;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 80%;
    height: 2em;
  }
// navbar .navSpecs {
//   background-color: black;
//   height: 100px;
//   width: 100px;
// }
